<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form action="">
        <div>
            <label for="title">TODO APP</label>
            <input type="text" name="title" id="add" placeholder="Enter task...">
            <br>
            <button type="submit">ADD</button>
        </div>
    </form>
</body>

</html>