<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form action="/add" method="post">
        <div>
            <label for="title">TODO APP</label>
            <input type="text" name="title" id="add" placeholder="Enter task...">
            <br>
            <button type="submit">ADD</button>
        </div>
    </form>
    <p>
        {% for todo in todoList %}
            <p>
                {{todo.id}} | {{todo.title}}
            </p>
            {% if todo.complete == False %}
                <span>Not complete</span>
            {% else %}
                <span>Complete</span>
            {% endif %}

            <a href="/update/{{todo.id}}">Update</a>
            <a href="/delete/{{todo.id}}">Delete</a>

        {% endfor %}
    </p>
</body>

</html>